﻿@page "/oldindex"
@using Microsoft.AspNetCore.SignalR.Client
@using KlingDemoServer.Hubs
@using KlingDemoServer.Data
@inject NavigationManager NavigationManager
@implements IDisposable


<h1>Spielgeräte Monitor</h1>
<h2>Connections: @Connection.Ids.Count().ToString()</h2>
<h2>Connected Machines: @OnlineMachineList.Ids.Count().ToString()</h2>
<h2>Connected MonitorClients: @MonitorClientList.Ids.Count().ToString()</h2>
@if (isConnected)
{
    <p><em>Connection ID: @connectionId </em></p>
}
<ul class="list-group">
    <li class="list-group-item">
    </li>
</ul>

<div class="row">
    <div class="col-4">
        @foreach (var item in notifications)
        {
            <div class="row">
                <h4>@item</h4>
            </div>
        }
    </div>
</div>


@code {


    private string url = "/hub";

    private HubConnection _connection = null;
    private bool isConnected = false;
    private string connectionStatus = "Not Connected";
    private string connectionId;
    private List<string> notifications = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(url))
            .Build();

        _connection.On<string>("notification", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });
        _connection.On<string>("GroupMessage", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });
        _connection.On<string>("Send", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });

        await _connection.StartAsync();
        await _connection.InvokeAsync("AddMonitorClientToGroup", "MonitorClient");

        isConnected = true;
        connectionStatus = "Connected :-)";
        Console.WriteLine("State: " + _connection.State);
        connectionId = _connection.ConnectionId;



        _connection.Closed += async (s) =>
        {
            isConnected = false;
            connectionStatus = "Not Connected";
            await _connection.StartAsync();
            isConnected = true;
        };
    }
    public bool IsConnected =>
        _connection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = _connection.DisposeAsync();
    }
}

