﻿@page "/"
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using KlingDemoServer.Data
@using System.Threading
@inject NavigationManager NavigationManager
@implements IDisposable

<h3>Spielgeraete</h3>


<div class="container">
    <div class="row">
        @foreach (ClientObject machine in OnlineMachineList.Ids)
        {
            <div class="col">
                <div class="card" width="18rem" style="position: absolute;">
                    <img src="@togleInput(machine.IsBlocked)" class="card-img-top" style="width: 15rem;">
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title">@machine.machineName</h4>
                        <button class="btn btn-primary" @onclick="@(e=>StartTimer(machine))" disabled="@machine.IsBlocked" data-toggle="modal" data-target="#exampleModal">
                            Code anfordern
                        </button>
                        <p class="card-text">
                            @machine.ConnectionID
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Freischaltungscode für @_machineName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (showTimer)
                    {
                        <h1>@Code</h1>
                        <h2>@Count</h2>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private const string readyMachineImg = "/slot-machine.png";
    private const string blockedMachineImg = "/slot-machine-bw.png";
    private string machineImg = readyMachineImg;
    private bool blockmachine = false;
    private string togleInput(bool isblocked)
    {
        if (isblocked)
        {
            return  blockedMachineImg;
        }
        else
        {
            return readyMachineImg;
        }

    }

    private string _machineName = "";
    private string Code = "";
    private bool showTimer = false;
    private static int timerSeconds = 10;
    TimeSpan Count = new TimeSpan(0, 0, timerSeconds);

    async Task StartTimer(ClientObject machine)
    {
        showTimer = true;
        await _connection.SendAsync("SendMessageToGroup", "MonitorClient",  "#b"+','+ machine.ConnectionID+",busy");
        Code = machine.generateCode(_connection.ConnectionId);
        await _connection.SendAsync("SendPrivateMessage", machine.ConnectionID, "#c," + Code+','+ _connection.ConnectionId);
        //StateHasChanged();
        _machineName = machine.machineName;
        while (Count > new TimeSpan())
        {

            if (codeWasGranted)
            {
                showTimer = false;
                Count = new TimeSpan(0, 0, 10);
                break;
            }
            await Task.Delay(1000);
            Count = Count.Subtract(new TimeSpan(0, 0, 1));
            StateHasChanged();
        }
        if (!codeWasGranted) {
            await AfterTimer(machine);
        }

        StateHasChanged();
    }

    async Task AfterTimer(ClientObject machine)
    {
        // timer ended without receiving 
        await _connection.SendAsync("SendPrivateMessage", machine.ConnectionID, "#f" + ",free");
        await _connection.SendAsync("SendMessageToGroup", "MonitorClient", "#f" + ',' + machine.ConnectionID + ",free");
        showTimer = false;
        _machineName = "";
        Count = new TimeSpan(0, 0, 10);
        await Task.CompletedTask;
        StateHasChanged();
    }

    private string url = "/hub";

    private HubConnection _connection = null;
    private bool isConnected = false;
    private string connectionStatus = "Not Connected";
    static string connectionId;
    private List<string> notifications = new List<string>();
    private bool codeWasGranted = false;

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(url))
            .Build();

        _connection.On<string>("notification", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });
        _connection.On<string>("GroupMessage", m =>
        {
            notifications.Add(m);
            string[] splittedMsg = m.Split(',');

            switch (splittedMsg[0])
            {
                case "#f": //

                    //Spielgerät wurde wieder freigeschaltet
                    OnlineMachineList.ChangeMachineStatus(splittedMsg[1], false);
                    //togleInput();
                    //togleInput();
                    break;
                case "#b": //block machine

                    OnlineMachineList.ChangeMachineStatus(splittedMsg[1], true);
                    //togleInput();

                    break;
                default:
                    break;
            }
            try
            {
                StateHasChanged();
            }
            catch (Exception e)
            {
            }
        });

        _connection.On<string>("Send", m =>
        {
            notifications.Add(m);
            string[] splittedMsg = m.Split(',');
            switch (splittedMsg[0])
            {
                case "#s": //

                    //Spielgerät wurde freigeschaltet
                    codeWasGranted = true;
                    Console.WriteLine("Machine is being played");
                    //OnlineMachineList.ChangeMachineStatus(splittedMsg[1], true);
                    break;

                case "#n":
                    Console.WriteLine("New Machine connected");
                    break;
            }
            StateHasChanged();
        });

        await _connection.StartAsync();
        await _connection.InvokeAsync("AddMonitorClientToGroup", "MonitorClient");

        isConnected = true;
        connectionStatus = "Connected :-)";
        Console.WriteLine("State: " + _connection.State);
        connectionId = _connection.ConnectionId;

        _connection.Closed += async (s) =>
        {
            await _connection.InvokeAsync("RemoveMonitorClientFromGroup", "MonitorClient");
            isConnected = false;
            connectionStatus = "Not Connected";
            isConnected = true;
        };
    }
    public bool IsConnected =>
        _connection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = _connection.DisposeAsync();
    }


}
