﻿@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IDisposable

<h1>Spielgerät </h1>
<input type="text" @bind="url" placeholder="hub host" />
<button class="btn btn-success"
        @onclick="async () => await OnInitializedAsync()" disabled="@isConnected">
    Connect
</button>
<h3>Connection Status: @connectionStatus</h3>
@if (isConnected)
{
    <p><em>Connection ID: @connectionId </em></p>


}
@if (isplaying)
{
    <button type="button" class="btn btn-primary btn-lg" @onclick="endGame">Spiel beenden</button>
}
<div class="jumbotron" style="visibility:@jumbotron">
    <input type="text" class="form-control" @bind="code" maxlength="4" placeholder="Code eingeben" style="width: 15rem;
        font-size: 4rem;
        text-align: center;
    " /><button type="button" class="btn btn-danger" @onclick="validateCode">OK</button>
    <h4>@messageCode</h4>
    <h3>@receivedCode </h3>
</div>




@code {
    private bool codeIsReceived = false;
    private bool isplaying = false;
    private string code ="";
    private string testcode;
    private string receivedCode;
    private string jumbotron = "hidden";
    private string messageCode;


    private void togleInput (){
        if (codeIsReceived)
        {
            connectionStatus = "Code angeben";
            messageCode = "";
            jumbotron = "visible"; }
        else if (!codeIsReceived)
        {
            jumbotron = "hidden";
        }
    }

    private async void endGame()
    {
        codeIsReceived = false;
        isplaying = false;
        await _connection.SendAsync("SendMessageToGroup", "MonitorClient", "#f" + ',' + connectionId + ",free");
        connectionStatus = "Freischaltungscode anfordern";
        StateHasChanged();
    }

    private async void validateCode()
    {

        if (code == receivedCode)
        {
            jumbotron = "hidden";
            connectionStatus = "Kunde Spielt";
            //StateHasChanged();
            messageCode = "Richtige Code!";
            await _connection.SendAsync("SendPrivateMessage", serverID, "#s" +',' + serverID);
            isplaying = true;
            code = null;
            StateHasChanged();
        }
        else
        {
            messageCode = "Falscher Code";

        }
    }

    private string url = "https://localhost:5001/hub";

    private HubConnection _connection = null;
    private bool isConnected = false;
    private string connectionStatus = "Not Connected";
    private string connectionId;
    private string userId;
    private string serverID;
    private List<string> notifications = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(url)
            .Build();

        _connection.On<string>("notification", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });

        _connection.On<string>("Send", m =>
        {
            string[] splittedMsg = m.Split(',');
            switch (m.Substring(0, 2))
            {
                case "#c":
                    //Freischaltungsantrag
                    codeIsReceived = true;
                    receivedCode = splittedMsg[1];
                    serverID = splittedMsg[2];
                    togleInput();
                    break;

                case "#f":
                    codeIsReceived = false;
                    receivedCode = "";
                    serverID = splittedMsg[2];
                    togleInput();
                    break;
            }
            StateHasChanged();
        });


        _connection.On<string>("SendMessageGroup", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });

        await _connection.StartAsync();
        await _connection.InvokeAsync("AddMachineToGroup", "Spielgeraete");
        await _connection.SendAsync("Send", "Spielgeraete", "Somebody has joined the group");

        isConnected = true;
        connectionStatus = "Connected :-)";
        Console.WriteLine("State: " + _connection.State);
        connectionId = _connection.ConnectionId;
        //userId =



        _connection.Closed += async (s) =>
        {
            isConnected = false;
            connectionStatus = "Not Connected";
            await _connection.StartAsync();
            isConnected = true;
        };
    }
    public bool IsConnected =>
        _connection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = _connection.DisposeAsync();
    }
}

